/* Police personalisée */

@font-face{
    font-family: "little bird";
    src: url('./police/LittleBird.ttf')
}


*{
    box-sizing: border-box;
}

body{
margin: 0;
background: var(couleurPrincipale1);
background: radial-gradient(circle farthest-corner at center center, rgba(29,93,41,0.7) 1%, rgba(0,0,0,0.83) 100%);
background: -webkit-radial-gradient(circle farthest-corner at center center, rgba(29,93,41,0.7) 1%, rgba(0,0,0,0.83) 100%);
background: -moz-radial-gradient(circle farthest-corner at center center, rgba(29,93,41,0.7) 1%, rgba(0,0,0,0.83) 100%);
}

.container{
    margin: 0 auto;
    width: 1000px;
}

.title{
    margin-bottom: 5px;
    font-size: 3em;
    color: white;
    font-family: 'little bird', Times, serif;
    font-weight: 500;
}

.craie{
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'little bird', Times, serif;
    font-size: 1.5em;
    text-align: center;
    border-radius: 8px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    transition: transform .1s;
}

.craie:hover{
    background-color: rgba(0, 0, 0, 0.267);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.craieDisable{
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.267);
    color: silver;
}

.craieTrouvee{
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.267);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.lettreADecouvrir{
    display: flex;
    flex-flow: column nowrap;
    justify-self: start;
    align-items: center;
    gap: 5%;
}

.lettreADecouvrir img{
    width: 45%;
}

.lettreTrouvee{
    visibility: hidden;
}

.lettreTrouveeVisible{
    visibility: visible;
}


#jeuContainer{
    width: 800px;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    gap: 2%;
}

#tableauContainer{
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url(./img/tableauCraie2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-bottom: 2%;

    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items: center;
    gap: 20px;
}


#buttonSolution{
    color: white;
    font-family: 'little bird', Times, serif;
    padding: 4px;
    
    position: absolute;
    top: 8%;
    right: 10%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

#buttonSolution img{
    width: 35px;
}


#buttonSolution:hover{
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.267);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#rejouer{
    height: 175px;
    color: white;
    font-family: 'little bird', Times, serif;
    font-size: 2.8em;
    z-index: 2;
    text-decoration: none;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#rejouer p{
    margin: 0;
}

#rejouer img{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

#rejouer:hover{
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.267);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#potence{
    width: 25%;
    z-index: 2;
}

#motADecouvrir{
    color: white;
    font-family: 'little bird', Times, serif;
    font-size: 3em;
    z-index: 3; 

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

#craiesContainer{
    width: 80%;
    height: 150px;
    border-radius: 8px;
    background-image: url(./img/font_bois.jpg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 1px -1px 68px -4px rgba(0,0,0,1) inset;
    -webkit-box-shadow: 1px -1px 68px -4px rgba(0,0,0,1) inset;
    -moz-box-shadow: 1px -1px 68px -4px rgba(0,0,0,1) inset;

    padding: 20px;

    display: grid;
    grid-template-columns: repeat(13,1fr);
    grid-template-rows: 20px, 1fr, 1fr;
    gap: 5px;

}